.gambler(data-gambler-id=gambler._id.toString())
  .couple
    .theGambler
      .gamblerPhoto(style='background-image: url(#{gambler.photo})')
      .gamblerName: a(href='/gamblers/#{gambler._id}')= gambler.name
    if gambler.assets.length
      .theSpouse
        .spousePhoto(style='background-image: url(#{gambler.spouse.photo})')
        .spouseName= gambler.spouse.name
  .cash Cash: $#{parseFloat(gambler.cash).toFixed(2)}
  .results
    .wins Wins: #{gambler.results.wins}
    .losses Losses: #{gambler.results.losses}
  .assetsWrapper
    .assetsLabel Assets:
    .assetsBox
    each asset in gambler.assets
      .asset(style='background-image: url(#{asset.photo})')
        .assetName: a(href='#')= asset.name
        .assetValue $#{parseFloat(asset.value).toFixed(2)}
